<%= form_with(model: [recipe, comment] ) do |form| %>
  <div>
  </br>
    <%= form.text_area :content, size: "130x5" %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする" %>
  </div>
<% end %>