
  <div class="row">
      <% comments.each do |comment| %>
        <% unless comment.id.nil? %>
          <%= link_to user_path(comment.user.id) do %>
      	    <p> <%= image_tag comment.user.profile_image.to_s, fallback: "/images/no-image-people.png", size: "80x80", :style => "border-radius: 50%;" %></p>
          <% end %>
          	<p class="userbody-text">コメント：<%= comment.content %></p>
          <% if comment.user == current_user %>
            <p class="btn btn-danger btn-xs"><%= link_to 'コメント削除', recipe_comment_path(comment.recipe_id, comment.id), method: :delete, "data-confirm" => 'コメントを削除しますか？', :style => "color: white; text-decoration: none;", remote: true %></p>
          <% end %>
          <p></p>
        <% end %>
      <% end %>
  </div>

