<div class="container">
	<div class="row">
		<% @search_recipes.each do |recipe| %>
		<div class="col-md-4">
			<%= link_to recipe_path(recipe.id) do %>
				<p> <%= recipe.title %></p>
				<p> <%= attachment_image_tag recipe, :image, format: 'jpg', fallback: 'noimage.jpg', size: '150x150' %></p>
			<% end %>
		</div>
		<% end %>
	</div>
</div>