<h3><strong>フォロワー</strong></h3></br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
		<% @users.each do |user| %>
		  	<%= link_to user_path(user.id) do %>
				  <p> <%= user.name %></p>
				  <p> <%= image_tag user.profile_image.to_s, size: '80x80', :style => "border-radius: 5%;" %></p>
		  	<% end %>
		<% end %>
		</div>
		<div class="col-md-9">
			<% @users.each do |user| %>
				<%= user.introduction %>
			<% end %>
		</div>
	</div>
</div>