
	<div class="row">
		<h3><strong>手順編集</strong></h3>
	</br>
		<div id="orders">

			<%= render @new_order %>

		</div>
		</br></br>
		<%= link_to "作り方を追加する", new_recipe_order_path, remote: true, class: "btn btn-default" %>
		</br></br>
		<div id="order-form"></div>

		<%= link_to "完了", recipe_path(@recipe.id), class: "btn btn-primary" %>
	</div>
