/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 	@import "bootstrap-sprockets";  /*ここを追加*/
    @import "bootstrap";            /*ここを追加*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: none;
}



body {
  height: 100%;
  width: 100%;
	font-weight: 900;
	font-family: 'century','Times New Roman','Baskerville','Optima','Palatino','Georgia','ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HGS明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
  background: #FFF;
  background-position: cover;
}

.container{
  height: 100%;
}

.login-name {
  text-align: right;
}

.login-name i {
  text-align: right;
  color: #2196F3;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

header {
	width: 100%;
}

.date-time {
  margin: 5px 0 0 15px;
  font-size: 14px;
  opacity: 0.8;
  color: gray;
}


.logo-text {
	margin-top: 50px;
  margin-left: 10px;
}

.msg {
  text-align: left;
}

.back {
  padding-bottom: 10px;
}

nav {
	width: 100%;
}

.navbar.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index:24;
}
/*z-indexでナビに要素が埋め込まれる*/

nav li {
	color: white;
  margin-left: 20px;
}

.icons {
  margin-left: 202px;
}

.icons p {
  float: left;
}

.icons i {
  position: relative;
  color: black;
  margin-left: 40px;
  float: left;
}

.icons i:hover {
  color:#cccccc;
}
.icon-text span {
  position: absolute;
  font-size: 10px;
  color: black;
}

.line-friend img{
  margin-left: 120px;
}

footer {
	text-align: center;
	background: #333333;
	margin-top: 50px;
	color: #aaaaaa;
  line-height: 50px;
  height: 50px;
  border-radius: 4px;
}

footer img {
  border-radius: 50%;
}

/* 検索ボックス */

.searchbox{
  margin-left: 140px;
  margin-top: 4px;
  position: relative;
  width: 400px;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
}

.searchbox span input{
  width:70%;
  height:40px;
  line-height:40px;
  color: black;
  background:none;
  border:none;
}
.searchbox label {
  position: absolute;
  width: 30%;
}

.search-btn{
  background:#777777;
  width:100%;
  height:40px;
  line-height:40px;
  border-radius: 6px;
  color:#FFF;
}

.search-btn:hover {
  background:#cccccc;
}

.searchbox2 {
  margin-left: 530px;
  margin-top: 4px;
  position: relative;
  width: 400px;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
}

.searchbox2 span input{
  width:70%;
  height:40px;
  line-height:40px;
  color: black;
  background:none;
  border:none;
}
.searchbox2 label {
  position: absolute;
  width: 30%;
}

.search-btn{
  background:#777777;
  width:100%;
  height:40px;
  line-height:40px;
  border-radius: 6px;
  color:#FFF;
}

.search-btn:hover {
  background:#cccccc;
}

.search-recipe-text {
  font-size: 20px;
}


/*ログイン画面*/

#form-main{
  float: left;
}

#form-div {
  margin-left: 120px;
  padding-left:35px;
  padding-right:35px;
  padding-top:30px;
  padding-bottom:30px;
  width: 450px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */

#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}


#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}


#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}

.submit:hover {
  color: #3498db;
}


@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}







