// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: none;
}



.recipe-confirm {
	margin-top: 10px;
}

.recipe-confirm li {
	font-size: 18px;
	list-style: none;
	margin-bottom: 15px;
}

.list-form {
	font-weight: 100;
	margin-left: 10px;
}

.recipe-btn {
	text-align: right;
	margin-top: 30px;
}

.recipe-btn .btn {
	font-size: 15px;
	background-color: #3498db;
  	color:white;
}

.recipe-btn .btn:hover {
	color: #0493bd;
	background: rgba(0,0,0,0);
}