// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: none;
}

/*h1 {
    color: #444;
    font-size: 24px;
    line-height: 1.6em;
    padding: 0 0 2px 12px;
    border-left: 4px solid #444;
    border-bottom: 1px solid #888;
}*/

.paginate {
  text-align: right;
}

h3 {
    color: #444;
    background: #f4f4f4;
    font-size: 20px;
    position: relative;
    padding: 10px 0 2px 28px;
    &:before, &:after{
        content: "";
        position: absolute;
        margin: auto;
    }
    &:before{
        width: 12px;
        height: 12px;
        top: 0;
        left: 14px;
        background: #d14;
        transform: rotate(50deg);
    }
    &:after{
        width: 8px;
        height: 8px;
        top: 18px;
        left: 6px;
        background: #d14;
        transform: rotate(20deg);
    }
}

.categories {
  margin-right: 35px;
}

.category-recipe {
    color: #444;
    background: #f4f4f4;
    font-size: 20px;
    position: relative;
    padding: 10px 0 2px 28px;
    &:before, &:after{
        content: "";
        position: absolute;
        margin: auto;
    }
    &:before{
        width: 12px;
        height: 12px;
        top: 0;
        left: 14px;
        background: #d14;
        transform: rotate(50deg);
    }
    &:after{
        width: 8px;
        height: 8px;
        top: 18px;
        left: 6px;
        background: #d14;
        transform: rotate(20deg);
    }
}

.text-over {
  width: 100%;
  text-align: left;
  overflow: hidden;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #1ec7bb;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}


